- provide :title, 'Dashboard'

#info
  .container
    .row
      .col-md-12
        %h1
          = current_user.name
          Dashboard
    .row.stats
      .col-sm-4
        %strong 3
        test
      .col-sm-4
        %strong 4
        test
      .col-sm-4
        %strong #{'3'}
        homework overdue
